<div class="modal fade" id="modal_of_dialog_host">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" *ngIf="showClose" [ngClass]="{'disabled':!CanClose()}" (click)="CanClose() && Cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 *ngIf='Title' class="modal-title">{{ Title }}</h4>
            </div>
            <div class="modal-body min-body">
                <div class="row">
                    <div class="col-sm-2">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    </div>
                    <div class="col-sm-10">
                        <p>{{Status}}</p>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" [ngClass]="{'disabled':!CanClose()}" (click)="CanClose() && Cancel()">{{LabelCancel}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" [ngClass]="{'disabled':!CanSubmit()}" (click)="CanSubmit() && Submit()">{{LabelSubmit}}</button>
            </div>
        </div>
    </div>
</div>